.chat {
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  -ms-grid-rows: auto 1fr min-content;
  grid-template-rows: auto 1fr -webkit-min-content;
  grid-template-rows: auto 1fr min-content;
  max-width: 930px;
  /* flex-grow: 1; */
}
